<ion-header>
  <ion-toolbar color="success"> 
    <ion-icon size="large" name="chevron-back-outline" slot="start" [routerLink]="['/zonas']"></ion-icon>
    <ion-title>Sensores</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Calidad_de_aire.png" [routerLink]="['/calidad-aire']" slot="start" width="70" height="70"/>
   <font size="4" class="ion-padding"> 
    Calidad del aire [ppm]
    <br>
    <ion-card>
    <ion-input align="center" type="number" value="1032" readonly onmousedown="return false;" >
    </ion-input>
  </ion-card>
    </font>
 </ion-item>
</ion-card> 


<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/CO.png" [routerLink]="['/login']" slot="start" width="70" height="70"/>
   <font size="4" class = "ion-padding">
    Monóxido de carbono [ppm]
    <ion-card slot="secundary">
      <ion-input align="center" type="number" value="5" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>
  </font> 
 </ion-item>  
</ion-card>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Humedad.png" [routerLink]="['/humedad']" slot="start" width="70" height="70"/>
   <font size="4" class="ion-padding">
    Humedad [%]
    <br>
    <ion-card>
      <ion-input align="center" type="number" value="75" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>  
  </font> 
 </ion-item>  
</ion-card>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Temperatura.png" [routerLink]="['/temperatura']" slot="start" width="70" height="70"/>
   <h5>
    Temperatura [°c]
    <br>
    <ion-card>
      <ion-input align="center" type="number" value="23.0" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>  
  </h5>
 </ion-item>  
</ion-card>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Precipitacion.png" [routerLink]="['/precipitacion']" slot="start" width="70" height="70"/>
   <h5>
    Precipitación
    <br>
    <ion-card>
      <ion-input align="center" type="text" value="No" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>  
  </h5>
 </ion-item>  
</ion-card>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Presion_atmosferica.png" [routerLink]="['/presion']" slot="start" width="70" height="70"/>
   <font size="4" class="ion-padding">
    Presión atmosferica [hPa]
  <br>
    <ion-card>
      <ion-input align="center" type="number" value="736" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>  
  </font>
 </ion-item>  
</ion-card>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Radiacion_UV.png" [routerLink]="['/radiacion']" slot="start" width="70" height="70"/>
   <font>
    Radiación UV [µW/cm²nm]
    <ion-card>
      <ion-input align="center" type="number" value="4" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>  

  </font> 
 </ion-item>  
</ion-card>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Ruido.png" [routerLink]="['/ruido']" slot="start" width="70" height="70"/>
   <h5>
    Ruido
    <ion-card>
      <ion-input align="center" type="text" value="No" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>
  </h5> 
 </ion-item>  
</ion-card>

<ion-card>  
  <ion-item>
   <img src="assets/img/Iconos_ionic/Luz.png" [routerLink]="['/luz']" slot="start" width="70" height="70"/>
   <font size="4" class="ion-pudd">
    Luz [Lm]
    <ion-card>
      <ion-input align="center" type="number" value="69" readonly onmousedown="return false;" >
      </ion-input>
    </ion-card>
  </font> 
 </ion-item>  
</ion-card>


</ion-content>
