<ion-header>
  <ion-toolbar color="success">
    <ion-icon size="large" name="chevron-back-outline" slot="start" [routerLink]="['/home']"></ion-icon>
    <ion-title>Estaciones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/sensores']">
        <h2 align="center">
         <br>
         <br>  
         Estación 
         <br>
         1
         <br>
         <br>
         <br>  
        </h2>  
      </ion-card>
    </ion-col>
    <ion-col size="6">
     <ion-card>
        <h2 align="center">
          <br>
          <br> 
          Estación 
          <br>
          2
          <br>
          <br>
          <br>  
        </h2>
     </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <h2 align="center">
          <br>
          <br>
          Estación 
          <br>
          3
          <br>
          <br>
          <br>

        </h2>  
      </ion-card>
    </ion-col>
    <ion-col size="6">
     <ion-card >
        <h2 align="center">
           <br>
           <br>
         Estación 
         <br>
         4
          <br>
          <br>
          <br>
        </h2>
     </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
