<ion-header>
  <ion-toolbar>
    <ion-icon size="large" name="chevron-back-outline" slot="start"[routerLink]="['/sensores']"  ></ion-icon>
    <ion-title>Calidad del aire</ion-title>
      <ion-icon size="large" slot="end" name="home-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div align="center"><img  width="200" height="200" src="assets/img/Iconos_ionic/Calidad_de_aire.png"/></div>

    <h3>
      El sensor de aire.........
    </h3>
  </ion-card>


  <ion-button [routerLink]="['/home']">
    Home
  </ion-button> 



</ion-content>
